<?xml version="1.0" encoding="utf-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
xmlns="http://java.sun.com/xml/ns/javaee"
xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">

  <servlet>
    <servlet-name>Router</servlet-name>
    <servlet-class>com.rsi.gems.bbb.run.B3Router</servlet-class>
    <init-param>
      <param-name>services</param-name>
      <param-value>login.route</param-value>
    </init-param>
    <init-param>
      <param-name>CustList</param-name>
      <param-value>GEMS</param-value>
    </init-param>
    <init-param>
      <param-name>AceFile</param-name>
      <param-value>web-gems/core.ace;app-bbb/bbb.ace;app-cita/cita.ace</param-value>
    </init-param>
    <load-on-startup>5</load-on-startup>
  </servlet>

  <!-- Define the Servlet Mapping -->
  <servlet-mapping>
    <servlet-name>Router</servlet-name>
    <url-pattern>/gems/*</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Router</servlet-name>
    <url-pattern>/r.sys/*</url-pattern>
  </servlet-mapping>

 <welcome-file-list>
   <welcome-file>apps/tri/Prime.htm</welcome-file>
 </welcome-file-list>

</web-app>
